<?php $this->yellow->layout("header") ?>
<?php $this->yellow->layout("head") ?>

<?php if ($this->yellow->page->get("blogWithFilter")): ?>
    <ul class="article-filter">
        <?php foreach ($this->yellow->page->getPages("blog") as $page): ?>
            <li><a<?php if ($page->get("PageType")=="Archive"): ?> class="archive"<?php endif ?> href="<?php echo $page->getLocation(true) ?>"><?php echo $page->get("title") ?></a><time datetime="<?php echo $page->getDateFormattedHtml('published', 'Y-m-d H:m') ?>" title="<?php echo $page->getDateFormattedHtml('published', 'd M Y') ?>"><?php echo $page->getDateFormattedHtml('published', 'Y') ?></time></li>
        <?php endforeach ?>
    </ul>
<?php else: ?>
    <?php $blogs = $this->yellow->content->index()->filter("layout", "blog")->sort("published", false)->paginate($this->yellow->system->get("blogPaginationLimit")) ?>
        <?php foreach($blogs as $page): ?>
            <article class="article article-list">
                <h1><a href="<?php echo $page->getLocation(true) ?>"><?php echo $page->get("title") ?></a></h1>
                <?php echo $this->yellow->toolbox->createTextDescription($page->getContent(), 0, false, "<!--more-->", "<a class=\"link\" href=\"".$page->getLocation(true)."\"></a>") ?>
                <footer>
                    <time datetime="<?php echo $page->getDateFormattedHtml('published', 'Y-m-d H:m') ?>"><a href="<?php echo $page->getLocation(true) ?>"><?php echo $page->getDateFormattedHtml('published', 'd M Y') ?></a></time>
                </footer>
            </article>
        <?php endforeach ?>

        <?php $this->yellow->layout("pagination", $this->yellow->content->index()->filter("layout", "blog")->sort("published", false)->paginate($this->yellow->system->get("blogPaginationLimit"))) ?>
<?php endif ?>

<?php $this->yellow->layout("foot") ?>
<?php $this->yellow->layout("footer") ?>