<footer class="footer">
    <div class="footer-wrapper">
        <p><?php echo $this->yellow->page->getHtml("sitename") ?>, 2015...<?php echo date("Y"); ?></p>
        <p class="engine">Для связи <a target="_blank" href="https://t.me/kodershaSasha">мессенджер</a> и <a target="_blank" href="mailto:kodersha@yandex.ru">почта</a>, для анонсов <a target="_blank" href="https://t.me/kodershaBlog">телеграм канал</a> блога.</p>

        <?php echo $this->yellow->page->getPage("footer")->getContent() ?>
    </div>
</footer>