<!DOCTYPE html>
<html lang="<?php echo $this->yellow->page->getHtml("language") ?>">

<head>
    <title><?php echo $this->yellow->page->getHtml("titleHeader") ?></title>
    <?php echo $this->yellow->page->getExtra("header") ?>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="<?php echo $this->yellow->system->get('coreServerBase').$this->yellow->system->get('coreThemeLocation').'favicon/apple-icon-57x57.png'; ?>">
    <link rel="apple-touch-icon" sizes="60x60" href="<?php echo $this->yellow->system->get('coreServerBase').$this->yellow->system->get('coreThemeLocation').'favicon/apple-icon-60x60.png'; ?>">
    <link rel="apple-touch-icon" sizes="72x72" href="<?php echo $this->yellow->system->get('coreServerBase').$this->yellow->system->get('coreThemeLocation').'favicon/apple-icon-72x72.png'; ?>">
    <link rel="apple-touch-icon" sizes="76x76" href="<?php echo $this->yellow->system->get('coreServerBase').$this->yellow->system->get('coreThemeLocation').'favicon/apple-icon-76x76.png'; ?>">
    <link rel="apple-touch-icon" sizes="114x114" href="<?php echo $this->yellow->system->get('coreServerBase').$this->yellow->system->get('coreThemeLocation').'favicon/apple-icon-114x114.png'; ?>">
    <link rel="apple-touch-icon" sizes="120x120" href="<?php echo $this->yellow->system->get('coreServerBase').$this->yellow->system->get('coreThemeLocation').'favicon/apple-icon-120x120.png'; ?>">
    <link rel="apple-touch-icon" sizes="144x144" href="<?php echo $this->yellow->system->get('coreServerBase').$this->yellow->system->get('coreThemeLocation').'favicon/apple-icon-144x144.png'; ?>">
    <link rel="apple-touch-icon" sizes="152x152" href="<?php echo $this->yellow->system->get('coreServerBase').$this->yellow->system->get('coreThemeLocation').'favicon/apple-icon-152x152.png'; ?>">
    <link rel="apple-touch-icon" sizes="180x180" href="<?php echo $this->yellow->system->get('coreServerBase').$this->yellow->system->get('coreThemeLocation').'favicon/apple-icon-180x180.png'; ?>">
    <link rel="icon" type="image/png" sizes="192x192" href="<?php echo $this->yellow->system->get('coreServerBase').$this->yellow->system->get('coreThemeLocation').'favicon/android-icon-192x192.png'; ?>">
    <link rel="icon" type="image/png" sizes="32x32" href="<?php echo $this->yellow->system->get('coreServerBase').$this->yellow->system->get('coreThemeLocation').'favicon/favicon-32x32.png'; ?>">
    <link rel="icon" type="image/png" sizes="96x96" href="<?php echo $this->yellow->system->get('coreServerBase').$this->yellow->system->get('coreThemeLocation').'favicon/favicon-96x96.png'; ?>">
    <link rel="icon" type="image/png" sizes="16x16" href="<?php echo $this->yellow->system->get('coreServerBase').$this->yellow->system->get('coreThemeLocation').'favicon/favicon-16x16.png'; ?>">
    <link rel="manifest" href="<?php echo $this->yellow->system->get('coreServerBase').$this->yellow->system->get('coreThemeLocation').'favicon/manifest.json'; ?>">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="<?php echo $this->yellow->system->get('coreServerBase').$this->yellow->system->get('coreThemeLocation').'favicon/'; ?>ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Verification -->
    <meta name="google-site-verification" content="dwjd3hkjvkoN4sqwgiC9Mgf5tTpjN8XDhuYDWACpsII">
    <meta name="yandex-verification" content="45a01a31ab8207e5">
    <meta name="mailru-verification" content="cfccb8882d571397">
    <!-- Counter -->
    <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date(); for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }} k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(87074852, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true }); </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/87074852" style="position: absolute; left: -9999px;" alt="" /></div></noscript>
    <!-- Other -->
</head>

<body class="<?php echo "page-".$this->yellow->page->getHtml("layout") ?>">