<?php list($name, $pages) = $this->yellow->getLayoutArguments() ?>

<?php if ($pages->isPagination()): ?>
    <nav class="pagination" role="navigation" aria-label="<?php echo $this->yellow->language->getTextHtml("corePagination") ?>">
        <div class="pagination-wrapper">
            <?php if ($pages->getPaginationNext()): ?>
                <p class="previous">
                    <a href="<?php echo $pages->getPaginationNext() ?>"><?php echo $this->yellow->language->getTextHtml("corePaginationPrevious") ?></a>
                </p>
            <?php endif ?>
            <?php if ($pages->getPaginationPrevious()): ?>
                <p class="next">
                    <a href="<?php echo $pages->getPaginationPrevious() ?>"><?php echo $this->yellow->language->getTextHtml("corePaginationNext") ?></a>
                </p>
            <?php endif ?>
        </div>
    </nav>
<?php endif ?>
